@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3939a1;
}

.calculator {
  width: 320px;
  height: 500px;
}

.output {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 55px;
  height: 35%;
  background-color: black;
  opacity: 0.8;
  color: white;
  padding: 10px;
}

#backspace,
#clear {
  width: 20px;
  border: none;
}

.digits {
  height: 65%;
  display: flex;
  flex-direction: column;
}
.firstest-row,
.first-row,
.second-row,
.third-row,
.fourth-row {
  display: flex;
  height: 100%;
}

button {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-color: rgba(255, 255, 255, 0.2);
  font-size: 18px;
}

button:hover {
  opacity: 0.8;
  transform: scale(0.95);
}

.operate {
  background-color: rgb(70, 50, 160);
  opacity: 1;
}

.opac:hover {
  opacity: 1;
}

.opac {
  opacity: 0.8;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
